.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border: 1px solid black;
}

.nav-item > ul {
    list-style-type: none;
    display: flex;
} 

.nav-item >ul >li{
    padding: 10px;
} 

.logo {
    width: 100px;
    /* height: 100px; */
}

.card {
    width: 200px;
    height: 3 00px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100% ; 
}

.Resturant-List {
    display: flex;
    flex-wrap: wrap;
}